.DS_Store
node_modules/
dist/

*.pem
*.crx
dist.pem
dist.crx

# amplify
.amplify
amplifyconfiguration*
amplify_outputs.json
amplify_outputs.*.json


.env
.env.local

*.swo
*.swp

.vscode

.tsc-show.json
