@reference "tailwindcss";

@layer components {
  .modal-container {
    @apply fixed inset-0 z-[100] flex items-center justify-center;
  }

  .modal-backdrop {
    @apply absolute inset-0 bg-black/40 backdrop-blur-sm;
  }
}